{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Home</title>
    <link rel="stylesheet" href="{% static 'css/mainhome.css' %}">
</head>
<body>

<div class="container">
    <h1>Welcome to the Main Homepage</h1>
    <p>This is the main homepage of the application.</p>
    <a href="{% url 'registration' %}" class="btn btn-primary">Register</a>
    <a href="{% url 'user_login' %}" class="btn btn-secondary">Login</a>
</div>

</body>
</html>
