
{% extends 'basic.html' %}

{% block title %}
    Product List - Shop
{% endblock %}

{% block content %}
    <h1>Product List</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Price: {{ product.price }}</p>
                        <p class="card-text">Description: {{ product.description }}</p>
                        <!-- Add Wishlist Button -->
                        <form method="post" action="{% url 'addwishlist' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info">Add to Wishlist</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
