{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
</head>
<body>
    <h1>Wishlist</h1>
    <ul>
        {% for item in wishlist_items %}
            <li>
                <div class="wishlist_item">
                    <h4 class="card-title">Name: {{ item.products.name }}</h4>
                    <p class="card-text">Price: {{ item.products.price }}</p>
                </div>
                
                <form method="post" action="{% url 'deletewishlist' item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete from Wishlist</button>
                </form>
            </li>
        {% empty %}
            <li>Your wishlist is empty</li>
        {% endfor %}
    </ul>
</body>
</html>
