<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <div>
        <label>Log in if you already have registered!</label>
        <div class="form-group last mb-4">
            <div><button class="btn btn-pill text-white btn-block btn-primary"><a href="{% url 'login_views' %}">login</a></button>
            </div>
        </div>
        <label>If not register here!</label>
        <div class="form-group last mb-4">
            <div><button class="btn btn-pill text-white btn-block btn-primary"><a href="{% url 'register'}">register</a></button></div>
        </div>
    </div>
</body>
</html>